body {
    background-color: dimgray;
}

#top-heading {
    font-size: large;
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

#sub-heading {
    font-size: xx-large;
    font-family: Franklin Gothic Medium, 'Arial Narrow', Arial, sans-serif;
    vertical-align: text-bottom;
}

#sup-heading {
    font-size: 350%;
    font-family: 'Impact';
    vertical-align: middle;
}

#bottom-heading {
    font-size: large;
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

#content {
    margin-left: 25px;
    margin-right: 25px;
}

#main {
    background-color: rgb(249, 236, 211);
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 3%;
    margin-right: 3%;
}

#sub-main {
    margin-top: 15px;
    margin-left: 4%;
    margin-right: 4%;
}

#quiz-bg {
    background-color: brown;
    border-radius: 5px;
}

#comment {
    color: black;
    font-family: 'Arial';
    font-size: larger;
    size: 25%;
    width: 100%;    
}

.content-bg {
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
}

.para {
    color: black;
    font-family: 'Arial';
    font-size: x-large;
}

.white-para {
    color: white;
    font-family: 'Arial';
    font-size: x-large;
}

.h1 {
    color: black;
    font-size: 350%;
    font-weight: bolder;
    font-family: 'Arial';
}

.h2 {
    color: black;
    font-size: 300%;
    font-weight: bold;
    font-family: 'Arial';
}

.h3 {
    color: black;
    font-size: 250%;
    font-family: 'Arial';
    font-weight: bold;
}

.h4 {
    color: black;
    font-size: 200%;
    font-family: 'Arial';
}

.h5 {
    color: black;
    font-size: 200%;
    font-family: 'Arial';
    font-weight: 500;
}

.white-h1 {
    color: white;
    font-size: 350%;
    font-weight: bolder;
    font-family: 'Arial';
}

.white-h2 {
    color: white;
    font-size: 300%;
    font-family: 'Arial';
    font-weight: bold;
}

.white-h3 {
    color: white;
    font-size: 250%;
    font-family: 'Arial';
    font-weight: bold;
}

.checked {
    color: rgb(151, 29, 29);
  }